

.techstack_icons{
    flex: 40%;
    width: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.techstack_icons > img {
    width: 90px;
    cursor: pointer;
    
}

.techstack_icons > img:hover{
    transform: scale(1.2);
 
}
